*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: "Poppins", "arial";
}

@font-face {
    font-family: "Poppins";
    src: url("./font/Poppins-Medium.ttf") format("truetype");
}


/*/////////////////////////////////////////////////////////////////////
/////////////////////////////// NAV ///////////////////////////////////
/////////////////////////////////////////////////////////////////////*/

.burger {
    display: none;
}

.backtotop {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    z-index: 99;
    margin: 10px 10px;
    background-color: rgba(194, 197, 196, 0.5);
    border-radius: 50px;
    cursor: pointer;
    width: 85px;
    height: 85px;
}

.backtotop .dimitri {
    color: rgb(255, 255, 255);
}


/*/////////////////////////////////////////////////////////////////////
/////////////////////////////// TOP NAV ///////////////////////////////
/////////////////////////////////////////////////////////////////////*/

header {
    background-color: rgba(74, 106, 176, 0.5);
    height: 70px;
    position: fixed;
    display: flex;
    align-items: center;
    opacity: 1;
    backdrop-filter: saturate(180%) blur(10px);
    width: 100%;
    z-index: 99;
    justify-content: space-between;
    border-bottom: solid 2px rgb(255, 255, 255);
}

header ul {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

header li {
    list-style: none;
    transition: transform 0.2s;
    cursor: pointer;
}

header li:hover {
    transform: scale(1.2);
}

header li a {
    text-decoration: none;
    color: white;
}


/*/////////////////////////////////////////////////////////////////////
///////////////////////////////  INTRO ////////////////////////////////
/////////////////////////////////////////////////////////////////////*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 100%;
    background: linear-gradient( 135deg, rgba(17, 59, 91, 0.75) 0%, rgba(17, 59, 91, 0.5)), url("img/desk.jpg");
    background-size: cover;
    color: white;
    background-position: center;
    background-attachment: fixed;
}

.intro h1 {
    margin: 35px auto;
    font-size: 50px;
}

.intro p {
    font-size: 40px;
}


/*/////////////////////////////////////////////////////////////////////
///////////////////////////////  BLOC1 ////////////////////////////////
/////////////////////////////////////////////////////////////////////*/

.bloc1 {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f2f2f6;
}

.présentation {
    display: flex;
    justify-content: center;
    width: 40%;
    flex-direction: column;
}

.bloc1 .PdP {
    background: url("img/moi.jpg");
    background-size: cover;
    background-position: center;
    margin: 100px 150px;
    width: 21%;
    height: 400px;
    border-radius: 200px;
}

.cvlink {
    text-align: center;
}

.cvlink a {
    text-decoration: none;
    color: black;
}

.cvlink a:hover {
    text-decoration: underline;
}

.bloc1 h2 {
    margin-bottom: 25px;
    font-size: 35px;
}

.bvisit {
    margin-top: 25px;
}


/*/////////////////////////////////////////////////////////////////////
///////////////////////////////  BLOC2 ////////////////////////////////
/////////////////////////////////////////////////////////////////////*/

.bloc2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
    padding-bottom: 50px;
}

.bloc2 h2 {
    font-size: 35px;
    width: 100%;
    padding-top: 100px;
    margin: 25px auto;
    text-align: center;
}

.bloc2 img {
    width: 500px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 35%;
}

.left p {
    width: 75%;
    font-size: 16px;
    margin: 10px auto;
}

.left p span {
    font-weight: bold;
}

.break {
    display: none;
    margin: 5px auto;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 35%;
}

.right p {
    width: 75%;
    margin: 10px auto;
}

.right p span {
    font-weight: bold;
}


/*/////////////////////////////////////////////////////////////////////
///////////////////////////////  BLOC3 ////////////////////////////////
/////////////////////////////////////////////////////////////////////*/

.bloc3 {
    width: 100%;
    background-color: #f2f2f6;
}

.bloc3 h2 {
    font-size: 35px;
    padding-top: 100px;
    text-align: center;
    margin: 25px auto;
}

.comptext {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.comptext p {
    margin: 15px 0;
}

.comptext span {
    font-weight: bold;
}

.skills {
    display: flex;
    width: 60%;
    margin: 75px auto;
}

.hardskills {
    display: flex;
    border: solid 1px #f2f2f6;
    box-shadow: 5px 5px 20px 10px #e6e6f5, -1px -1px 20px 10px #e6e6f5;
    border-radius: 20px;
    width: 40%;
    margin: 35px auto;
    justify-content: space-around;
}

.hardskills p {
    margin: 15px auto;
}

.softskills {
    display: flex;
    border: solid 1px #f2f2f6;
    box-shadow: 5px 5px 20px 10px #e6e6f5, -1px -1px 20px 10px #e6e6f5;
    border-radius: 20px;
    width: 40%;
    margin: 35px auto;
    justify-content: space-around;
}

.softskills p {
    margin: 15px auto;
}

.rating {
    display: flex;
    margin: 0 auto;
    padding-bottom: 100px;
    width: 80%;
}

.rating p {
    text-align: center;
    margin: 15px 35px;
}

.fas {
    color: rgb(74, 106, 176);
}

.far {
    color: rgb(74, 106, 176);
}


/*/////////////////////////////////////////////////////////////////////
///////////////////////////////  BLOC4 ////////////////////////////////
/////////////////////////////////////////////////////////////////////*/

.bloc4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.bloc4 h2 {
    font-size: 35px;
    padding-top: 100px;
    margin: 25px auto;
}

.box-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 150px auto;
}

.box {
    position: relative;
    width: 200px;
    margin: auto;
    background: url("img/placeholder-image.png");
    cursor: pointer;
    background-position: center;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.box1 {
    position: relative;
    width: 200px;
    margin: auto;
    background: url("img/Capture.PNG");
    cursor: pointer;
    background-position: center;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.box1 a {
    color: white;
}

.box2 {
    position: relative;
    width: 200px;
    margin: auto;
    background: url("img/poe.PNG");
    cursor: pointer;
    background-position: center;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.box2 a {
    color: white;
}

.box3 {
    position: relative;
    width: 200px;
    margin: auto;
    background: url("img/jeuxjs.png");
    cursor: pointer;
    background-position: center;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.box3 a {
    margin: 0 10px;
    color: white;
}

.box4 {
    position: relative;
    width: 200px;
    margin: auto;
    background: url("img/form.png");
    cursor: pointer;
    background-position: center;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.box4 a {
    color: white;
}

.box5 {
    position: relative;
    width: 200px;
    margin: auto;
    background: url("img/bio.png");
    cursor: pointer;
    background-position: center;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.box5 a {
    margin: 0 10px;
    color: white;
}

.link-title {
    display: flex;
    width: 200px;
    height: 200px;
    text-align: center;
    align-items: center;
    background-color: rgba(81, 104, 168, 0.68);
    z-index: 10;
    top: 0;
    left: 0;
    position: absolute;
}

.link-title a {
    transition: transform 0.2s;
    text-decoration: none;
}

.link-title a:hover {
    transform: scale(1.05);
}

.link-title a:visited {
    color: rgb(255, 255, 255);
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topleft {
    z-index: 20;
    width: 100px;
    height: 100px;
    background: url("img/topleft1.png");
    background-size: cover;
    transition: transform 1s;
}

.topleft.animate {
    transform: translateX(-100px) translateY(-100px);
}

.topright {
    z-index: 20;
    width: 100px;
    height: 100px;
    background: url("img/topright1.png");
    background-size: cover;
    transition: transform 1s;
}

.topright.animate {
    transform: translateX(100px) translateY(-100px);
}

.bot {
    display: flex;
    justify-content: center;
    align-content: center;
}

.botleft {
    z-index: 20;
    width: 100px;
    height: 100px;
    background: url("img/botleft1.png");
    background-size: cover;
    transition: transform 1s;
}

.botleft.animate {
    transform: translateX(-100px) translateY(100px);
}

.botright {
    z-index: 20;
    width: 100px;
    height: 100px;
    background: url("img/botright1.png");
    background-size: cover;
    transition: transform 1s;
}

.botright.animate {
    transform: translateX(100px) translateY(100px);
}


/*/////////////////////////////////////////////////////////////////////
///////////////////////////////FOOTER//////////////////////////////////
/////////////////////////////////////////////////////////////////////*/

footer h2 {
    font-size: 35px;
    padding-top: 100px;
    text-align: center;
    margin: 25px auto;
}

footer {
    background-color: #f2f2f6;
}

.foot-contact {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    align-items: center;
}

footer .flogo {
    color: black;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
}


/*/////////////////////////////////////////////////////////////////////
////////////////////////////// RESPONSIVE /////////////////////////////
/////////////////////////////////////////////////////////////////////*/

@media (max-width: 1440px) {
    .bloc1 .PdP {
        background: url(img/moi.jpg);
        background-size: cover;
        background-position: center;
        margin: 100px 150px;
        width: 27%;
        height: 400px;
        border-radius: 200px;
    }
    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80%;
        width: 45%;
    }
    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80%;
        width: 45%;
    }
}

@media (max-width: 1200px) {
    .bloc1 {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #f2f2f6;
    }
    .bloc1 .PdP {
        background: url("img/moi.jpg");
        background-size: cover;
        background-position: center;
        margin: 25px auto;
        width: 25%;
        height: 300px;
        border-radius: 200px;
    }
    .présentation {
        display: flex;
        justify-content: center;
        width: 65%;
        flex-direction: column;
    }
    .bloc2 {
        justify-content: space-evenly;
    }
    .skills {
        width: 90%;
    }
    .rating {
        width: 98%;
    }
}

@media (max-width: 1024px) {
    .bloc2 {
        justify-content: space-evenly;
    }
    .bloc2 p {
        width: 95%;
    }
    .bloc2 img {
        width: 100%;
    }
    .skills {
        width: 90%;
    }
    .rating {
        width: 98%;
    }
    .bloc1 .PdP {
        background: url(img/moi.jpg);
        background-size: cover;
        background-position: center;
        margin: 65px auto;
        width: 29%;
        height: 300px;
        border-radius: 200px;
    }
}

@media (max-width: 768px) {
    .bloc2 p {
        width: 95%;
    }
    .bloc2 img {
        width: 100%;
    }
    .rating {
        display: flex;
        flex-wrap: wrap;
    }
    .left {
        width: 49%;
    }
    .right {
        width: 49%;
    }
    .box-container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 150px auto;
    }
    .link-title {
        width: 100%;
        height: 180px;
    }
    .topleft,
    .topright,
    .botleft,
    .botright {
        display: none;
    }
    .box,
    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6 {
        width: 180px;
    }
    .top {
        height: 180px;
    }
    .backtotop {
        width: 85px;
        height: 85px;
    }
    .skills {
        width: 100%;
    }
    .bloc1 .PdP {
        background: url(img/moi.jpg);
        background-size: cover;
        background-position: center;
        margin: 65px auto;
        width: 29%;
        height: 225px;
        border-radius: 122px;
    }
    .rating4 {
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 100%;
        background: linear-gradient( 135deg, rgba(17, 59, 91, 0.75) 0%, rgba(17, 59, 91, 0.5)), url("img/desk.jpg");
        background-size: cover;
        color: white;
        background-position: center;
    }
    .bloc1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        background-color: #f2f2f6;
    }
    .bloc1 .PdP {
        background: url("img/moi.jpg");
        background-size: cover;
        background-position: center;
        margin: 25px auto;
        width: 60%;
        height: 300px;
        border-radius: 200px;
    }
    .présentation {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }
    .bvisit {
        margin-top: 25px;
        margin-bottom: 50px;
    }
    .bloc2 p {
        width: 95%;
    }
    .left {
        width: 98%;
    }
    .right {
        width: 98%;
    }
    .bloc2 img {
        width: 100%;
    }
    .break {
        display: block;
        width: 98%;
    }
    .topleft,
    .topright,
    .botleft,
    .botright {
        display: none;
    }
    .link-title {
        width: 100%;
        height: 150px;
    }
    .comptext {
        width: 87%;
    }
    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box {
        width: 150px;
        height: 150px;
    }
    .skills {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    .hardskills {
        width: 80%;
    }
    .softskills {
        width: 100%;
    }
    .softleft {
        width: 51%;
    }
    .rating {
        width: 93%;
    }
    .rating p {
        margin: 15px 13px;
    }
    .bloc1_intro {
        text-align: center;
        width: 95%;
    }
    header {
        display: none;
    }
    .hamenu {
        position: fixed;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(194, 197, 196, 0.5);
        border-radius: 50px;
        margin: 10px 10px;
        width: 85px;
        height: 85px;
    }
    .burger {
        display: block;
        color: rgb(255, 255, 255);
    }
    .backtotop {
        width: 85px;
        height: 85px;
    }
    .intro {
        background-size: cover;
    }
    .box-container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: 150px auto;
    }
}

@media (max-width: 425px) {
    .intro p {
        font-size: 30px;
    }
    .bloc1 .PdP {
        background: url(img/moi.jpg);
        background-size: cover;
        background-position: center;
        margin: 25px auto;
        width: 69%;
        height: 300px;
        border-radius: 143px;
    }
    .softskills {
        width: 80%;
    }
}

@media (max-width: 375px) {
    .bloc1 .PdP {
        background: url(img/moi.jpg);
        background-size: cover;
        background-position: center;
        margin: 25px auto;
        width: 78%;
        height: 300px;
        border-radius: 143px;
    }
}

@media (max-width: 360px) {
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background: linear-gradient( 135deg, rgba(17, 59, 91, 0.75) 0%, rgba(17, 59, 91, 0.5)), url("img/desk.jpg");
        background-size: cover;
        color: white;
        background-position: center;
    }
    .bloc1_intro {
        width: 84%;
    }
    .intro h1 {
        margin: 35px auto;
        font-size: 46px;
    }
    .intro p {
        font-size: 29px;
    }
    .bloc1 .PdP {
        width: 85%;
    }
    .intro {
        height: 670px;
    }
    .softright {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .softskills {
        width: 80%;
    }
}

@media (max-width: 320px) {
    .intro p {
        font-size: 23px;
    }
    .intro h1 {
        margin: 35px auto;
        font-size: 40px;
    }
    .bloc1 .PdP {
        background: url(img/moi.jpg);
        background-size: cover;
        background-position: center;
        margin: 25px auto;
        height: 275px;
        border-radius: 143px;
    }
}


/*/////////////////////////////////////////////////////////////////////
///////////////////////// RESPONSIVE SIDE NAV /////////////////////////
/////////////////////////////////////////////////////////////////////*/

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 50;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background: linear-gradient(360deg, rgb(255 255 255 / 0%), rgb(0 0 0));
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left 0.5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}